.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  background: #ffffff;
  max-width: 65rem;
}

.left__article {
  padding: 2rem;
}

.article__heading {
  flex-grow: 1;
  color: #083452;
  font-size: 50px;
  text-transform: uppercase;
}

.article__author {
  margin-top: -1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article__author-img-actual {
  border-radius: 50%;
  width: 2rem;
}

.article__author-img {
  position: relative;
}

.article__author-img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: ($c-transparenterblue);
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.article__author-text {
  margin-left: 0.7rem;
  margin-right: 1.5rem;
  color: #116DB3;
  font-weight: bold;
  font-size: 14px;
}

.article__publish-date {
  color: #a7a7a7;
  font-size: 14px;
}

.article__publish-date-underline {
  font-weight: normal;
  text-decoration: underline;
}

.article__paragraph {
  color: #555;
}

.article__quote {
  border-left: 3px solid #a7a7a7;
  padding: 1rem;
  font-size: 25px;
  color: #116DB3;
}

.article__paragraph2 {
  color: #555;
}

.article__paragraph3 {
  color: #555;
}

.article__paragraph4 {
  color: #555;
}

.article__btn {
  display: flex;
  justify-content: flex-start;
  margin-right: 7rem;
}

.article__btn1 {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

.article__btn1--icon {
  padding-top: 0.5rem;
  width: 2rem;
  background: #5E686F;
  text-align: center;
}

.article__btn1--text {
  color: white;
  background: #a7a7a7;
  padding: 0.5rem 0.8rem;
  font-size: 14px;
}

.article__btn2 {
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.article__btn2--icon {
  padding-top: 0.5rem;
  width: 2rem;
  background: #5E686F;
  text-align: center;
}

.article__btn2--text {
  padding: 0.5rem 0.8rem;
  font-size: 14px;
  color: white;
  background: #a7a7a7;
}

.article__btn3 {
  display: flex;
  justify-content: space-between;
}

.article__btn3--icon {
  padding-top: 0.5rem;
  width: 2rem;
  background: #083452;
  text-align: center;
}

.article__btn3--text {
  padding: 0.5rem 0.8rem;
  font-size: 14px;
  color: white;
  background: #116DB3;
}

.right__article {
  margin-top: 3.5rem;
  padding: 2rem;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author__img-actual {
  width: 6rem;
  border-radius: 50%;
}

.author__img {
  position: relative;
}

.author__img--overlay {
  position: absolute;
  border-radius: 50%;
  background: ($c-transparenterblue);
  top: 0;
  height: 100%;
  width: 6rem;
}

.author__name {
  color: #116DB3;
  text-align: center;
}

.author__social-link {
  display: flex;
  color: #a7a7a7;
  font-size: 14px;
}

.author__social-link2 {
  padding: 0rem 1rem;
}

.ad {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ad__img-actual {
  position: relative;
  width: 18rem;
}

.ad__img {
  position: relative;
  margin-top: 4rem;
}

.ad__img--overlay {
  position: absolute;
  height: 100%;
  width: 18rem;
  background: ($c-transparenterblue);
  top: 0;
  left: 0;
}

.ad__link {
  color: #a7a7a7;
  font-size: 14px;
  text-decoration: underline;
}

.second__article-link {
  margin-top: 4rem;
  color: #116DB3;
}

.second__article-short {
  margin-top: -0.7rem;
  color: #a7a7a7;
  font-size: 14px;
  width: 18rem;
}
