body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

.banner {
  padding: 0rem;
  background: #1D70B1;
}

.banner__top {
  padding: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__group {
  overflow: auto;
}

.nav__group--left {

}

.nav__logo--img {
  float: left;
  width: 3.5rem;
}

.nav__group--right {

}

.nav-list {
  float: left;
  display: flex;
  margin: -0.5rem -1rem;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

.nav__search--img {

}

.banner__bottom {

}

.banner__bottom--img {
  width: 100%;
}

.banner__title {
  position: relative;
}

.banner__subtitle {

}
