body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

.hero {

}

.nav__left {

}

.nav__logo {

}

.nav__logo--img {

}

.nav__right {

}

.nav__about {

}

.nav__search {

}

.nav__search--img {

}

.hero__title {

}

.hero__subtitle {

}
