body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.banner {
  padding: 0rem;
  height: 35rem;
  background: linear-gradient($c-transparentblue, $c-transparentblue), url('https://images.alphacoders.com/152/thumb-1920-152303.jpg'),no-repeat center center fixed;
  background-size: cover;
}

.banner__top {
  align-items: center;
  padding: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__group {
  overflow: auto;
}

.nav__group--left {

}

.nav__logo--img {
  width: 3.5rem;
}

.nav__logo--text {

}

.nav__group--right {

}

.nav-list {
  float: left;
  display: flex;
  margin: -0.5rem -1rem;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

.nav__search--img {
  margin-left: 1rem;
  width: 1.4rem;
}

.banner__bottom {

}

.banner__title {
  position: fixed;
  width: 60rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  text-align: center;
  font-size: 90px;
}

.banner__subtitle {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
