.footer {
  position: absolute;
  padding: 1rem;
  background: #000000;
}

.footer__heading {
  color: #083452;
  font-size: 50px;
}

.footer__other-posts {

}

.footer__other-post-item1 {

}

.footer__other-post-item1-title {

}

.footer__other-post-item1-img {

}

.footer__other-post-item2 {

}

.footer__other-post-item2-title {

}

.footer__other-post-item2-img {

}

.footer__other-post-item3 {

}

.footer__other-post-item3-title {

}

.footer__other-post-item3-img {

}

.footer__other-post-item4 {

}

.footer__other-post-item4-title {

}

.footer__other-post-item4-img {

}

.footer__navbar {

}

.footer__navbar-logo {

}

.footer__navbar-legal {

}

.footer__navbar-nav-items {

}
